novaRPG/.DS_Store
novaRPG/build/*/
novaRPG/novaRPGv2.xcodeproj/Peteo.mode1v3
novaRPG/novaRPGv2.xcodeproj/Peteo.pbxuser
PtRPG/build/*/
PtRPG/PtRPG.xcodeproj/Peteo.mode1v3
PtRPG/PtRPG.xcodeproj/Peteo.pbxuser
PtRPG/Debug.win32/*/
PtRPG/libs/CocosDenshion/proj.win32/Debug.win32/*/
PtRPG/libs/cocos2dx/proj.win32/Debug.win32/*/
PtRPG/android/bin/*/
PtRPG/android/obj/*/
PtRPG/android/libs/*/